<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <mapping class="aleksey.ivlev.wh.model.Product"></mapping>
        <mapping class="aleksey.ivlev.wh.model.DicStores"></mapping>
        <mapping class="aleksey.ivlev.wh.model.IncomeDetails"></mapping>
        <mapping class="aleksey.ivlev.wh.model.Incomes"></mapping>
        <mapping class="aleksey.ivlev.wh.model.InStock"></mapping>
        <mapping class="aleksey.ivlev.wh.model.OutcomeDetails"></mapping>
        <mapping class="aleksey.ivlev.wh.model.Outcomes"></mapping>
        <mapping class="aleksey.ivlev.wh.dto.ProductDto"></mapping>
    </session-factory>
</hibernate-configuration>